<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.neokree.monkeymeandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/banana"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.meenie.monkeymeandroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="it.meenie.monkeymeandroid.IconTabActivity" />
        <activity android:name="it.meenie.monkeymeandroid.GoingMonkeyActivity" />
        <activity android:name="it.meenie.monkeymeandroid.SelectFriendActivity" />
        <activity android:name="it.meenie.monkeymeandroid.FacebookFriend" />
        <activity android:name="it.meenie.monkeymeandroid.FollowingFriend" />
        <activity android:name="it.meenie.monkeymeandroid.FollowerFriend" />
        <activity android:name="it.meenie.monkeymeandroid.SelectPhotoActivity" />
        <activity android:name="it.meenie.monkeymeandroid.AddHintActivity" />
        <activity android:name="it.meenie.monkeymeandroid.EndingActivity" />
        <activity android:name="it.meenie.monkeymeandroid.GuessActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="it.meenie.monkeymeandroid.CorrectActivity" />
        <activity android:name="it.meenie.monkeymeandroid.ProfileEditActivity" />
        <activity android:name="it.meenie.monkeymeandroid.ClickPhotoActivity" />
    </application>

</manifest>
