<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basak.monkeyme" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/monkeyicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Test"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectFriendActivity" android:label="SelectFriendActivity"/>
        <activity android:name=".GuessActivity" android:label="GuessActivity"/>
        <activity android:name=".GuessCorrect" android:label="GuessCorrect"/>
        <activity android:name=".TakePhoto" android:label="TakePhoto"/>
        <activity android:name=".SelectKeyWord" android:label="SelectKeyWord"/>
        <activity android:name=".PuzzleMonkey" android:label="PuzzleMonkey"/>
        <activity android:name=".PuzzleCorrect" android:label="PuzzleCorrect"/>
        <activity android:name=".TakeMovie" android:label="TakeMovie"/>
        <activity android:name=".MyProfile" android:label="MyProfile"/>
        <activity android:name=".EditProfile" android:label="EditProfile"/>

    </application>

</manifest>
